{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <style>
        #my_camera{
            width: 320px;
            height: 240px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <div>
       <div>
        <label >Capture live photo</label>
        <div id="my_camera"></div>
            <input type="hidden" name="captured_image_data" id="image">
        <br>
        <input type="button" value="Take Snap" onclick="take_pic()">
       </div>
       <div>
        <label >Result</label>
        <div id="results">
            <img src="https://www.geo.tv/assets/uploads/updates/2023-04-04/480193_9376442_updates.jpg" alt="">
        </div>
        <br>
        <button type="submit">Save Picture</button>
       </div>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</body>
<script type="text/javascript" src="{% static 'transaction/webcamjs/webcam.min.js' %}"></script>
<script language="JavaScript">
    Webcam.set({
        width: 320,
        height: 240,
        image_format:'jpeg',
        jpeg_quality:90
    });
    Webcam.attach( '#my_camera' );

    function take_pic(){
        Webcam.snap(function(data_uri){
            document.getElementById('results').innerHTML = '<img src=" '+data_uri+ '"/>';
            console.log(data_uri)
            str=data_uri.split(",")[1]
            document.getElementById('image').value=str;
            console.log(str)
        });
    }
    var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 60000) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 10000);
     }

     setTimeout(refresh, 10000);
</script>
</html>